* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-iak9 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px 0px;
}

#template-iiml {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-left: 150px;
    height: 40%;
    min-height: 40%;
}

#template-il86 {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px 0px;
    display: block;
    justify-content: flex-end;
}

#template-iem1 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-right: 125px;
    margin-bottom: 50px;
    margin-left: 125px;
    height: 20%;
}

#template-iczk {
    display: flex;
    min-height: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    align-items: center;
}

#template-islm {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i344 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(90, 90, 90);
}

#template-i5zk {
    width: 40%;
    height: 80%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-io3ow {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(90, 90, 90);
}

#template-iej3a {
    width: 40%;
    height: 80%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ibspb {
    display: flex;
    min-height: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
    align-items: center;
}

#template-i952y {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i9mx4 {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px 0px;
    display: block;
    justify-content: flex-end;
}

#template-i7gmd {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(90, 90, 90);
}

#template-izod6 {
    width: 40%;
    height: 80%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i39gd {
    display: flex;
    min-height: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    align-items: center;
}

#template-iiylm {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iw5dp {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px 0px;
    display: block;
    justify-content: flex-end;
}

#template-i83mv {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(90, 90, 90);
}

#template-imh1r {
    width: 40%;
    height: 80%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-idotr {
    display: flex;
    min-height: auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
    align-items: center;
}

#template-ihv3y {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iocoo {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 5px 0px;
    display: block;
    justify-content: flex-end;
}

#template-iamqw {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-right: 125px;
    margin-bottom: 50px;
    margin-left: 125px;
    height: 25%;
    min-height: 25%;
}

#template-ih8fw {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#template-izjog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#template-ifmlh {
    min-height: auto;
    display: flex;
    justify-content: flex-end;
}

#template-itroy {
    width: 40%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
}

#template-icugj {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ie78j {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 100vh;
    min-height: 100vh;
}

#template-iosaq {
    flex-basis: 85%;
    height: auto;
    min-height: auto;
    font-family: Helvetica, sans-serif;
}

#template-iqgk7 {
    flex-basis: 5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(219, 219, 219);
    border-right-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(253, 253, 253);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#template-inkrc {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iqgaq {
    display: flex;
    justify-content: center;
}

#template-ik4kt {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-imtoj {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-iakca {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-ibw7q {
    display: flex;
    justify-content: center;
}

#template-iy2y4 {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-ipq86 {
    display: flex;
    justify-content: center;
}

#template-i8w4d {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-iq3ej {
    display: flex;
    justify-content: center;
}

#template-ipi1x {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: block;
    min-height: auto;
}

#template-ic6gj {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: auto;
}

#template-iovaj {
    min-height: auto;
}

#template-i2off {
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}

#template-inukl {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#template-ifron {
    width: 40%;
}

#template-ipwzs {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: rgb(26, 26, 26);
    font-family: Helvetica, sans-serif;
}

#template-i3dbj {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-iq79g {
    display: flex;
    justify-content: center;
}

#template-i1dvi {
    color: black;
    width: 80px;
    height: 80px;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}