* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-ie78j {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 100vh;
    min-height: 100vh;
}

#template-iosaq {
    flex-basis: 85%;
    height: auto;
    min-height: auto;
    font-family: Helvetica, sans-serif;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#template-iqgk7 {
    flex-basis: 5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(219, 219, 219);
    border-right-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(253, 253, 253);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

#template-inkrc {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iqgaq {
    display: flex;
    justify-content: center;
}

#template-ik4kt {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-imtoj {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-iakca {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-ibw7q {
    display: flex;
    justify-content: center;
}

#template-iy2y4 {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-ipq86 {
    display: flex;
    justify-content: center;
}

#template-i8w4d {
    color: black;
    width: 80px;
    display: block;
    height: 80px;
}

#template-iq3ej {
    display: flex;
    justify-content: center;
}

#template-ipi1x {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: block;
    min-height: auto;
}

#template-ic6gj {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: auto;
}

#template-iovaj {
    min-height: auto;
}

#template-i2off {
    color: rgb(14, 14, 14);
    font-size: 30px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}

#template-inukl {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#template-ifron {
    width: 40%;
}

#template-ipwzs {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: rgb(26, 26, 26);
    font-family: Helvetica, sans-serif;
}

#template-i3dbj {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-iq79g {
    display: flex;
    justify-content: center;
}

#template-i1dvi {
    color: black;
    width: 80px;
    height: 80px;
}

#template-iaz26 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: block;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#template-ibthm {
    width: 12%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-idtp9 {
    display: flex;
    min-height: auto;
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-ieu27 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i7shl {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgb(255, 255, 255);
}

#template-ieqga {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 20px;
}

#template-ita6f {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 284px;
}

#template-i848x {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-ijhem {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-i6alf {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-il9rz {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-ipwyg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-i8u8s {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i7rxe {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-iln8h {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iljlj {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i2raa {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i2npy {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i6zl1 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ix3yw {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-in2td {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-ifb9f {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iq2r4 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iwqc7 {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-isayx {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-im2zv {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-irlei {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iqihj {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i61pn {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ikbx6e {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-ik465f {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-iyqvbp {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-irc16c {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i0x2ax {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-iaegxi {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iuwlci {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iyn5kf {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ipdufg {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i8eahr {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ieks7g {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ilxtf1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i7sx5k {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-izld8f {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-it3abf {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-id3jck {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i5emfl {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i4mash {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i24f5s {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-idbgbl {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-irmzt7 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-iwogb8 {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-ilb2ls {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-iseau4 {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-ih426x {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iq52tn {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ik155e {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ij8428 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i4ioqu {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-isqftx {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ipkecq {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i9tkth {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iqbxng {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-igb1bi {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ih53cz {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i8ypxh {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iaff8z {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-i2xbo1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-iifj25 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i7du5k {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-iw2kva {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i1x26t {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-ibl2d3 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ip2c72 {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-ilizel {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-ilpzt6 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#template-igl0eb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#template-iba3oy {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

#template-i249f2 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 20px;
}

#template-i20pb6 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-ih1jlg {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-i9tf8k {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i6lj56 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ihyuaz {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-iar25y {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iaivqq {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-im9peh {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-idqih7 {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i3uoxl {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iflvb2 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ibpu8l {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#template-i0i1b2 {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-iqfg2g {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ioolpv {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-i6qali {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-izlbtm {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-ifurfs {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-iyj6r3 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i5fzok {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-iike2l {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ixrfix {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-itnmdn {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-ijnznc {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-iuem13 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i6er7j {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ilzhaf {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i6d4vj {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-invgff {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ijqxt6 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-irxgub {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-icd2xb {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iyx7u7 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-it2y39 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iq2m0j {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-iuvwvc {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iz8k1c {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-izbuug {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-iwjgat {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i23tlw {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-id428q {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i5ejx6 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-i6s2kp {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ihpmyi {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-iwwauh {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 284px;
}

#template-il64kv {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#template-imh875 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 20px;
}

#template-icxhhk {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-iyetf9 {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-ily86u {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iilouf {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i1rwd8 {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ijhy6u {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ifgew9 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-in2zkt {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ivnzxg {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ilmza4 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-i57zuy {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ic7gof {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iaxdte {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ijdjui {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ij16ok {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-ifasd4 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-iiy6bz {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-ijjv7h {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i1780s {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iqcian {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-i1abmt {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i3l12t {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-iksb5r {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-ihjd2g {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-i338eo {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iw0qbl {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-ircv2j {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ijbyok {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ivqkfd {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-irui5i {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-is60mv {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i0hy4j {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-if3ovg {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-isnhab {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iphvle {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ieor2z {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-itfwzy {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-iq34xl {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-i252iy {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-iuujlg {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-irtr45 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iiejve {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-i57sfc {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ijtk7g {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-i8vtcb {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 284px;
}

#template-i6cz0l {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#template-i1b61v {
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#template-iyfik7 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-iyb7ml {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i4js9w {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-ib3nth {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-ihxmo2 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i39hvh {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i9dh3u {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i9uw94 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iv9oai {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i51o1k {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(72, 72, 72);
}

#template-i4b21v {
    min-height: auto;
    display: flex;
    justify-content: space-between;
}

#template-i0v7jf {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-iyzcbk {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-imaa0c {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-ijn637 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(8, 108, 250);
    font-size: 19px;
    font-weight: 600;
}

#template-iswgri {
    min-height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-ikhztf {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#template-icd5pq {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#template-ifrxub {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(226, 226, 226);
    border-right-color: rgb(226, 226, 226);
    border-bottom-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#template-i4eolu {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-igh68h {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-it9j0r {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-i429c8 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(249, 249, 249);
    border-right-color: rgb(249, 249, 249);
    border-bottom-color: rgb(249, 249, 249);
    border-left-color: rgb(249, 249, 249);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}